@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu") format("truetype");
  font-style: normal;
  font-weight: normal;
}
header {
  background-color: #f0f0f0;
  z-index: 50;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header__shadow {
  box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.5);
}
.conteiner {
  margin: 0 auto;
  max-width: 864px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20 0 20 0;
}
.heder__title {
  text-align: center;
  font-family: Inconsolata;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.empty {
  width: 22px;
}

.menu-btn {
  width: 30px;
  height: 26px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.menu-btn span {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 8px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 8px);
}

.menu {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #f0f0f0;
  transform: translateY(-100%);
  transition: transform 0.5s;
  z-index: 1;
}
.menu.active {
  transform: translateX(0);
}
.menu li {
  list-style-type: none;
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.line {
  border-bottom: 3px solid black;
}
nav {
  padding-top: 80px;
  font-size: 28px;
  line-height: 60px;
  flex: 1 1 auto;
  height: 100%;
}
ul {
  flex: 1 1 auto;
  height: 100%;
  list-style: none;
  text-align: left;
}

nav li a:hover {
  font-size: 30px;
}
nav li a:active {
  font-size: 28px;
}
nav li a {
  color: #000000;
}
nav li img {
  width: 30px;
  height: auto;
  margin: 9 15 0 0;
}
nav li:nth-child(4) img {
  width: 34px;
  height: auto;
  margin: 6 15 0 0;
}
nav li:nth-child(5) img {
  width: 30px;
  height: auto;
  margin: 12 15 0 0;
}
nav li:nth-child(8) img {
  width: 33px;
  height: auto;
  margin: 9 15 0 0;
}
.about {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.about__body {
  width: 900px;
  margin: 0 auto;
  flex: 1 1 auto;
  margin-top: 100px;
}

.title {
  margin: 40 0 0 0;
}

.about__gallery {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.column {
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

.column__title {
  font-size: 18px;
  text-align: center;
  padding: 15 0 30 0;
}

.column__photo img {
  width: 100%;
  height: 290px;
}
.column__photo {
  background-color: red;
}

.footer {
  margin-top: 40px;
  padding: 20 0 20 0;
  background-color: #f0f0f0;
}

.foother__text {
  font-family: "Playfair Display";
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10 0 10 0;
    max-width: 100%;
  }
  nav {
    padding-top: 80px;
    font-size: 24px;
    line-height: 60px;
    flex: 1 1 auto;
    height: 100%;
  }
  ul {
    flex: 1 1 auto;
    height: 100%;
  }
  nav li a {
    color: #000000;
  }
  .conteiner {
    margin: 0 auto;
    max-width: 90%;
  }
  .heder__title {
    font-size: 24;
    line-height: 24px;
  }
  .about__body {
    width: 100%;
    margin-top: 94px;
  }
  .about__gallery {
    flex-wrap: wrap;
    margin-top: 8px;
    gap: 0px;
  }
  .column {
    width: 100%;
  }
  .column__element {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .column__photo {
    height: 100%;
  }
  .column__photo img {
    width: 100%;
    height: 318px;
  }
  .column__title {
    font-size: 18px;
    text-align: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 14 0 14 0;
    max-width: 100%;
  }
  .conteiner {
    margin: 0 auto;
    max-width: 90%;
  }
  .heder__title {
    font-size: 24;
    line-height: 24px;
  }
  .about__body {
    width: 100%;
    margin-top: 94px;
  }
  .about__gallery {
    flex-wrap: wrap;

    gap: 0px;
  }
  .column {
    width: 100%;
  }
  .column__element {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .column__photo {
    height: 100%;
  }
  .column__photo img {
    width: 100%;
    height: 318px;
  }
  .column__title {
    font-size: 18px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */
